<!DOCTYPE html>
<html lang="EN">
<head>
    <%- include('./partials/head')%>
    <title>Hola <%= user.user_name %> </title>
    <link rel="stylesheet" href="/css/profile.css">
    
</head>
<body>
    <%- include('./partials/header')%>
    <main>
        
        <h2 class="user">hola <%= user.user_name %> </h2>
        <img src="/images/users/<%= user.avatar%>" alt="foto_perfil" class="image">
        <div class="datos">
            <div>
                <div>nombre: <%= user.full_name%></div>
                <div>mail: <%= user.email%></div>
            </div>

        </div>
        <div class="action-buttons">
            <p class="delete-danger">¿ESTÁ SEGURO QUE QUIERE ELIMINAR ESTE USUARIO?</p>
            <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST">
               <button type="submit">Eliminar</button> 
            </form>
            <a href="/users/profile"><button>VOLVER</button></a>

        </div>
    </main>
    <%- include('./partials/footer')%> 
</body>
</html>